mixin tourItem(image, price)
    .tour               
        .tour-top
            img.tour-image(src=image, alt='bali')
            span.tour-price=price
        .tour-content
            .tour-title Thailands Ayutthaya Temples Cruise from Bangkok
            .tour-rating
                .tour-review
                    .tour-star
                    img(src='./images/star.png', alt='star')
                    .tour-review-count 4.8 (12 reviews)
                .tour-duration Duration: 9 hours
            a.tour-button(href='', target='_blank', rel='noopener noreferrer') Tours Price $61
doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title HTML CSS MASTER
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Inter:wght@500;600&display=swap" rel="stylesheet")
        link(rel="stylesheet" href="./style.css")
    body 
        .tour-list-container
            .tour-list
                +tourItem("https://images.unsplash.com/photo-1500835556837-99ac94a94552?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8dHJhdmVsfGVufDB8fDB8fHww&auto=format&fit=crop&w=500&q=60","From $40")
                +tourItem("https://images.unsplash.com/photo-1527631746610-bca00a040d60?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8N3x8dHJhdmVsfGVufDB8fDB8fHww&auto=format&fit=crop&w=500&q=60","From $60")
                +tourItem("https://images.unsplash.com/photo-1552733407-5d5c46c3bb3b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTF8fHRyYXZlbHxlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=500&q=60","$80")
                +tourItem("https://images.unsplash.com/photo-1682695795557-17447f921f79?ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxzZWFyY2h8MTV8fHRyYXZlbHxlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=500&q=60","From $70")
                +tourItem("https://images.unsplash.com/photo-1568849676085-51415703900f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTJ8fHRyYXZlbHxlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=500&q=60","From $90")